@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
:root {
  font-family: 'Philosopher', sans-serif;
  font-family: 'Cormorant Infant', serif;
  font-family: 'Laila', sans-serif;
  /*-------------Colors------------- */
  --ColorDark: rgb(0, 0, 0);
  --ColorWhite: rgb(255, 255, 255);
  /*-------------FontSize -- Perfect Fifth (1.500) Base Size 22px (Viewport Width 1920px)------------- */
  --FontH1: 76.29px;
  --FontH2: 61.04px;
  --FontH3: 48.83px;
  --FontH4: 39.06px;
  --FontH5: 31.25px;
  --FontH6: 25.00px;
  --FontParagraph: 20px;
  --FontSubtitle: 16px;
  /*-------------GoldenRatio (1.618) (Viewport Width 1920px)------------- */
  --GoldenRatio1: 1920px;
  --GoldenRatio2: 1186.65px;
  --GoldenRatio3: 733.41px;
  --GoldenRatio4: 453.28px;
  --GoldenRatio5: 280.15px;
  --GoldenRatio6: 173.15px;
  --GoldenRatio7: 107.01px;
  --GoldenRatio8: 66.14px;
  --GoldenRatio9: 40.88px;
  --GoldenRatio10: 25.27px;
  /*-------------Text Shadow------------- */
  text-shadow: 0 0 var(--FontSubtitle) rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  color: var(--ColorWhite);
}

body {
  background: var(--ColorDark);
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

#wrapper #logo {
  position: absolute;
  z-index: 2;
  left: var(--GoldenRatio8);
  top: var(--GoldenRatio8);
  text-decoration: none;
}

#wrapper #logo h1 {
  font-size: var(--FontH3);
  font-weight: 700;
  color: var(--ColorWhite);
  font-family: 'Philosopher', sans-serif;
}

#wrapper nav {
  position: absolute;
  z-index: 2;
  top: var(--GoldenRatio8);
  width: var(--GoldenRatio1);
  display: flex;
  justify-content: center;
  pointer-events: none;
}

#wrapper nav span {
  pointer-events: all;
  display: flex;
  justify-content: space-between;
  width: var(--GoldenRatio3);
  -webkit-backdrop-filter: blur(31px);
  backdrop-filter: blur(31px);
  border-radius: var(--GoldenRatio3);
  box-shadow: 0 0 var(--FontParagraph) rgba(0, 0, 0, 0.13);
}

#wrapper nav span a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--GoldenRatio8);
  width: var(--GoldenRatio6);
  font-size: var(--FontParagraph);
  font-weight: 400;
  font-family: 'Philosopher', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--GoldenRatio3);
  transition: all 0.5s;
}

#wrapper nav span a:hover {
  background: var(--ColorWhite);
  color: var(--ColorDark);
  text-shadow: none;
}

#wrapper #PlacesNav {
  position: absolute;
  z-index: 2;
  bottom: var(--GoldenRatio8);
  width: var(--GoldenRatio1);
  display: flex;
  justify-content: center;
  pointer-events: none;
}

#wrapper #PlacesNav span {
  pointer-events: all;
  display: flex;
  justify-content: space-between;
  width: var(--GoldenRatio3);
  -webkit-backdrop-filter: blur(31px);
  backdrop-filter: blur(31px);
  border-radius: var(--GoldenRatio3);
  box-shadow: 0 0 var(--FontParagraph) rgba(0, 0, 0, 0.13);
}

#wrapper #PlacesNav span a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--GoldenRatio8);
  width: var(--GoldenRatio6);
  font-size: var(--FontParagraph);
  font-weight: 400;
  font-family: 'Philosopher', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--GoldenRatio3);
  transition: all 0.5s;
}

#wrapper #PlacesNav span a:hover {
  background: var(--ColorWhite);
  color: var(--ColorDark);
  text-shadow: none;
}

#wrapper #PlacesNav span a:nth-child(1) {
  text-align: left;
}

#wrapper #PlacesNav span a:nth-child(3) {
  text-align: right;
}

#wrapper #SearchIcon {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  right: var(--GoldenRatio8);
  top: var(--GoldenRatio8);
  height: var(--GoldenRatio8);
  width: var(--GoldenRatio8);
  -webkit-backdrop-filter: blur(31px);
  backdrop-filter: blur(31px);
  border-radius: var(--GoldenRatio3);
  box-shadow: 0 0 var(--FontParagraph) rgba(0, 0, 0, 0.13);
  transition: all 0.5s;
}

#wrapper #SearchIcon a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper #SearchIcon a svg {
  width: var(--FontParagraph);
}

#wrapper #SearchIcon a svg path {
  width: var(--FontParagraph);
  fill: var(--ColorWhite);
  transition: all 0.5s;
}

#wrapper #SearchIcon:hover {
  background: var(--ColorWhite);
  box-shadow: none;
}

#wrapper #SearchIcon:hover a svg path {
  fill: var(--ColorDark);
}

#wrapper .slide {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
}

#wrapper #slide1 {
  background: url(https://icodeayush.github.io/TravelNow/img/Slide1.jpg) center fixed;
  background-size: cover;
}

#wrapper #slide2 {
  background: url(https://icodeayush.github.io/TravelNow/img/Slide2.jpg) center fixed;
  background-size: cover;
}

#wrapper #slide3 {
  background: url(https://icodeayush.github.io/TravelNow/img/Slide3.jpg) center fixed;
  background-size: cover;
}

#wrapper .slide #blurBG {
  width: 50vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  transition: all 0.5s;
}

#wrapper .slide #blurBG:hover {
  background: rgba(0, 0, 0, 0.7);
}

#wrapper .slide #PlaceName {
  position: absolute;
  left: var(--GoldenRatio8);
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  pointer-events: none;
}

#wrapper .slide #PlaceName p {
  font-family: 'Cormorant Infant', serif;
  font-size: var(--FontH5);
  font-weight: 600;
  color: var(--ColorWhite);
  transform: rotate(-90deg);
  transform-origin: center;
  text-align: center;
  width: 100vh;
  margin-left: -48.7vh;
  cursor: default;
}

#wrapper .slide #main {
  position: absolute;
  left: var(--GoldenRatio6);
  top: 0;
  width: var(--GoldenRatio3);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  pointer-events: none;
}

#wrapper .slide #main span {
  font-size: var(--FontH3);
  font-weight: 400;
  color: var(--ColorWhite);
  display: flex;
  font-family: 'Cormorant Infant', serif;
  white-space: pre;
}

#wrapper #slide1 #main span #WeatherIcon {
  width: var(--FontH3);
  background: url(img/travel1.jpg) no-repeat;
  background-size: contain;
}

#wrapper #slide2 #main span #WeatherIcon {
  width: var(--FontH3);
  background: url(img/travel2.jpg) no-repeat;
  background-size: contain;
}

#wrapper #slide3 #main span #WeatherIcon {
  width: var(--FontH3);
  background: url(img/travel3.jpg) no-repeat;
  background-size: contain;
}

#wrapper .slide #main h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: var(--FontH1);
  font-weight: 700;
  color: var(--ColorWhite);
  margin-top: var(--GoldenRatio10);
}

#wrapper .slide #main article {
  font-size: var(--FontH6);
  font-weight: 400;
  color: var(--ColorWhite);
  margin-top: var(--GoldenRatio9);
}

#wrapper #visit {
  position: absolute;
  z-index: 2;
  bottom: var(--GoldenRatio8);
  left: var(--GoldenRatio8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--GoldenRatio8);
  width: var(--GoldenRatio5);
  background: var(--ColorWhite);
  border-radius: var(--GoldenRatio3);
  box-shadow: 0 0 var(--FontParagraph) rgba(0, 0, 0, 0.13);
}

#wrapper #visit a {
  font-size: var(--FontParagraph);
  font-weight: 700;
  color: var(--ColorDark);
  font-family: 'Philosopher', sans-serif;
  text-shadow: none;
  text-decoration: none;
}

#wrapper #codeby {
  position: absolute;
  z-index: 2;
  bottom: var(--GoldenRatio8);
  right: var(--GoldenRatio8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--GoldenRatio8);
  width: var(--GoldenRatio5);
  background: var(--ColorWhite);
  border-radius: var(--GoldenRatio3);
  box-shadow: 0 0 var(--FontParagraph) rgba(0, 0, 0, 0.13);
}

#wrapper #codeby a {
  font-size: var(--FontParagraph);
  font-weight: 400;
  color: var(--ColorDark);
  font-family: 'Philosopher', sans-serif;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
}

#wrapper #codeby a span {
  color: var(--ColorDark);
  text-shadow: none;
  font-weight: 700;
}

/*-------------@media (max-width: 1920px)------------- */

@media (max-width: 1920px) {
  :root {
    /*-------------FontSize -- Perfect Fifth (1.500) Base Size 22px (Viewport Width 1920px)------------- */
    --FontH1: 3.973vw;
    --FontH2: 3.179vw;
    --FontH3: 2.543vw;
    --FontH4: 2.034vw;
    --FontH5: 1.628vw;
    --FontH6: 1.302vw;
    --FontParagraph: 1.042vw;
    --FontSubtitle: 0.833vw;
    /*-------------GoldenRatio (1.618) (Viewport Width 1920px)------------- */
    --GoldenRatio1: 100vw;
    --GoldenRatio2: 61.805vw;
    --GoldenRatio3: 38.198vw;
    --GoldenRatio4: 23.608vw;
    --GoldenRatio5: 14.591vw;
    --GoldenRatio6: 9.018vw;
    --GoldenRatio7: 5.573vw;
    --GoldenRatio8: 3.445vw;
    --GoldenRatio9: 2.129vw;
    --GoldenRatio10: 1.316vw;
  }
}